@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

:root {
    --navbar-height: 60px;
    --main-color: #100f0f;
    --main-color-2: #100f0fcd;
    --main-color-3: #100f0f00;
    --sub-color: #c3a984;
    --sub-color-2: #c3a984bf;
    --sub-color-3: #c3a98400;
    --side-color: #849ec3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

header nav {// NAV (GAUCHE)
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: calc(100vw - 4%);
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

    div {
        display: flex;
        align-items: center;

        img {
            width: 90px;
        }

        h1 {
            font-size: 2.4em;
            color: var(--sub-color);
            font-family: "Playfair Display", serif;
            font-weight: 400;
        }
    }
}

header nav {// NAV (DROITE)
    ul {
        width: 50%;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            position: relative;
            font-size: 1.2em;
            font-weight: 800;
            padding: 0 2%;

            a {
                color: var(--main-color);
                text-decoration: none;
                }
            
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                width: 50%;
                height: 3px;
                background-color: var(--main-color);
                transform-origin: left;
                transform: scaleX(0);
                transition: transform 0.35s;
                }
                    &:hover::after {
                    transform: scaleX(1);
            }
        }
    }
}

#main {// IMAGES DE FOND
    section:nth-child(1) {
    height: calc(100vh - 80px);
    background: url("./img/img-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    &::after {
        content: "";
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, var(--main-color-3), var(--main-color) 50vh);
        width: 100vw;
        height: 60vh;
        }
    }

    section:nth-child(2) {
        height: 100vh;
        background: var(--main-color);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
    }

    section:nth-child(3) {
        height: calc(100vh - 180px);
        background: url("./img/pexels-cottonbro-studio-3993293.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;

    &::after {
        content: "";
        position: absolute;
        z-index: 5;
        top: 200vh;
        left: 0;
        background: linear-gradient(to top, var(--main-color-3), var(--main-color) 50vh);
        width: 100vw;
        height: 60vh;
        }
    }
}

#main {// FORMAT DES SECTIONS
    height: calc(300vh - 200px);
    section {
        width: 100vw;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }
    section:nth-child(1) article {
        top: 20vh;
        height: 40vh;
    }
    section:nth-child(2) article {
        top: 10vh;
        height: 60vh;
    }
    section:nth-child(3) article {
        height: 40vh;
    }
    section article {
        position: relative;
        z-index: 10;
        width: 70vw;
        color: whitesmoke;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;

    h3 {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
        text-align: left;
        align-self: center;
        }

        p {
        grid-row: 2;
        grid-column: 2;
        align-self: center;
        }
    }
}

footer {// PIED DE PAGE
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: white;
    background: linear-gradient(to top, var(--sub-color-2), var(--sub-color-3));

    hr {
        width: 40%;
        height: 3px;
        background-color: whitesmoke;
        border: none;
    }

    ul {
        margin-top: 2%;
        text-align: center;
        list-style-type: none;
    }
}